<h1>Teachers#index</h1>
<br/>


<div class="btn btn-primary">
  <%= link_to("Add Teachers", new_teacher_path, :class=>'btn action add') %>
</div>

<table class="table" summary="Teachers list">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Position</th>
      <th scope="col">Students</th>
      <th scope="col">Active</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @teachers.each_with_index do |teacher, index| %>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= teacher.name %></td>
      <td><%= teacher.position %></td>
      <td><%= teacher.students.size %></td>
      <td><%= teacher.active ? 'Active':'Inactive' %></td>
      <td>
      <%= link_to("Show", {:action=>'show', :id=>teacher.id}, :class=>'action show') %>
      <%= link_to("Edit", edit_teacher_path(teacher), :class=>'action edit') %>
      <%= link_to("Delete", delete_teacher_path(teacher), :class=>'action delete') %>
      
      </td>
    </tr>
  <% end %>  
  </tbody>
</table>
